.tappification {
  position: fixed;
  min-height: 40px;
  background: #ffffff;
}
.tappification[data-position="bottom"] {
  right: 0;
  left: 0;
  bottom: -50px;
}
.tappification button {
  background: none;
  border: none;
  outline: none;
}
.tappification .container {
  max-width: 933px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  padding: 10px 20px 15px 20px;
  font-size: 14px;
  font-weight: 100;
}
.tappification .container div {
  display: inline-block;
}
.tappification .tappification-icon {
  font-size: 27px;
  position: absolute;
  top: 3px;
}
.tappification .tappification-message {
  padding-left: 40px;
}
.tappification .tappification-link a {
  color: white;
  text-decoration: underline;
}
.tappification .tappification-link a:hover {
  opacity: 0.6;
}
.tappification .tappification-link,
.tappification .tappification-message,
.tappification .tappification-close {
  -o-transition: opacity, 0.2s, ease-in;
  -moz-transition: opacity, 0.2s, ease-in;
  -webkit-transition: opacity, 0.2s, ease-in;
  transition: opacity, 0.2s, ease-in;
}
.tappification .tappification-link a,
.tappification .tappification-message a,
.tappification .tappification-close a {
  -o-transition: opacity, 0.2s, ease-in;
  -moz-transition: opacity, 0.2s, ease-in;
  -webkit-transition: opacity, 0.2s, ease-in;
  transition: opacity, 0.2s, ease-in;
}
.tappification .tappification-link .primary {
  -o-transition: opacity, 0.3s, ease-in;
  -moz-transition: opacity, 0.3s, ease-in;
  -webkit-transition: opacity, 0.3s, ease-in;
  transition: opacity, 0.3s, ease-in;
}
.tappification .tappification-link .primary:hover {
  opacity: 0.6;
}
.tappification .tappification-close {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 20px;
}
.tappification .tappification-close:hover {
  opacity: 0.6;
}
.tappification .tappification-link {
  padding-left: 20px;
}
.tappification .inverse {
  color: black;
}
@media screen and (max-width: 768px) {
  .tappification .tappification-link {
    padding: 7px 0 0 40px;
  }
}
.tappification-info {
  background-color: #167afb;
  color: #ffffff;
}
.tappification-info .tappification-link .primary {
  text-decoration: none;
  text-transform: uppercase;
  background: #0b3e85;
  border: solid 1px #093169;
  padding: 5px 15px 5px 15px;
  font-size: 12px;
  font-weight: 500;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.tappification-info .tappification-icon {
  color: #7fbcfc;
}
.tappification-info .tappification-link {
  color: #e6e6e6;
}
.tappification-warning {
  background-color: #fdc12d;
  color: #000000;
}
.tappification-warning .tappification-link .primary {
  color: black;
}
.tappification-warning .tappification-icon {
  color: #000000;
}
.tappification-warning .tappification-link {
  color: #000000;
}
.tappification-danger {
  background-color: #fc351d;
  color: #ffffff;
}
.tappification-danger .tappification-icon {
  color: #ffffff;
}
.tappification-danger .tappification-link {
  color: #e6e6e6;
}
.tappification-btn-c2a {
  text-decoration: none;
  text-transform: uppercase;
  background: #0b3e85;
  border: solid 1px #093169;
  padding: 5px 15px 5px 15px;
  font-size: 12px;
  font-weight: 500;
}
